/* font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body{
    color: #506a85;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
div , p, span, a{
    font-family: 'Source Sans Pro', sans-serif;
}
.header_top{
    background-color: #f5f7fa;
    border-bottom:1px solid #e6e9ed;
}
ul{
   margin: 0;
   padding: 0;
}
img{
    max-width: 100%;
}
.top_contant {
    min-height: 40px;
}
.cta div a{
    font-size: 12px;
    color: #506a85;
    margin-right: 25px;
    text-decoration: none;
}
.cta div a:hover{
    color: #17a78b;
    transition: .3s;
}

.cta div i{
    margin-right: 8px;
}
.social ul{
    list-style-type: none;
    
}
.social ul li{
    display: inline-block;
}
.social ul li a{
    color: #506a85;
    padding-left: 20px;
}
.social ul li a:hover{
    color: #17a78b;
    transition: .3s;
}

.nav_header{
    padding: 35px 0;
}

.main_menu  ul{
    list-style-type: none;
   
}
.main_menu  ul li{
    display: inline-block;
    
}
.main_menu  ul li a{
    text-decoration: none;
    color: #506a85;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
}
/* Droupdown menu css */


.header_search{
    height: 100%;
    padding-top: 10px;
}
#banner{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.banner_contant h2{
    font-size: 78px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.banner_contant p{
    font-size: 24px;
    color: #a3b1bf;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 44px;
}

.ct_btn{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #17a78b;
    padding:25px 70px;
    display: inline-block;
}
.ct_btn:hover{
    color: #fff;
    transition: .3s;
}

.sec_pd{
    padding: 115px 0;;
}
.feature_header h2{
    padding-bottom: 20px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.2;

}
.feature_header p{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    padding: 20px 0 65px 0;
}

.feature_contant h3{
    font-size: 26px;
    line-height: 1.2;
    font-weight: 900;
    
}
.feature_contant p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}


/* Work section css start */
#work{
    background-color: #f2f5f7;
}
.work_contant h2{
    font-size: 44px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 30px;
    
}
.work_contant p{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 70px;
}
.work_item{
    padding-bottom: 80px;
}
.work_item_con {
    min-height: 112px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #e6e9ed;
    border-right: 1px solid #e6e9ed;
    border-bottom: 2px solid #e6e9ed;
}
.work_item_con h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #00bc9c;
    padding-top: 34px;

}
.work_item_con p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #73879c;
    padding-bottom: 26px;
}


/* contact section css start */
.contact_heading{

}
.contact_heading h2{
    font-size: 44px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 30px;
}
.contact_heading p{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 40px;
}
.contact_heading  .ct_btn{
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 3px
}

/* Footer css start */

footer{
    background-color: #2f4052;
   
}
.all_widget{
     padding: 75px 0;

}
.widget_pic{
    width: 100%;
}
.widget_tittle{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 700;
}
.footer_widget p{
    color: #a3b1bf;
    font-size: 14px;
    line-height: 22px;

}
.footer_widget a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #00bc9c;
}
.footer_widget i{
    padding-left: 10px;
}
.footer_widget p i{
    padding-right: 10px;
}
.sub_form {
    position: relative;
}
.sub_form input[type= email]{
     position: relative;
     width: 100%;
     background-color: #283645;
     border-radius: 3px;
     border: 0;
     outline: none;
     padding: 15px 12px;
     
}
::placeholder{
    color: #fff;
    opacity: 1;
}
:-moz-placeholder{
    color: #fff;
}
:-ms-input-placeholder{
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.sub_form input[ type= submit]{
    position: absolute;
    top:6px;
    right: 5px;
    
}
.sub_form .ct_btn{
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    border: 0;
    outline:0;

}
.copyright{
    background-color: #283645;
}
.cp_notice{
    padding-top: 22px ;
}
 .footer_menu ul li a{
    text-decoration: none;
    color: #506a85;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding: 22px 9px 22px 9px;
    display: inline-block;
}
 .footer_menu .active{
    color: #00bc9c;
}